按照要求处理程序代码分析任务

主要需求
=======
{{ problem_description }}
=======

代码仓库结构
=======
{{ code_repo_structure }}
=======

本文件聚焦功能点
=======
{{ focus_feature }}
=======

代码路径
=======
{{ code_path }}
=======

代码内容
=======
{{ code_content }}
=======

对收集的信息整合后，最终结果按照指定的 json 结构返回
