按照要求处理程序代码分析任务

代码仓库结构
=======
{{ code_repo_structure }}
=======

核心目标
=======
{{ problem_description }}
=======

查找策略
- 先根据功能描述，确定哪些文件和完成核心目标相关
- 再调用对应的工具获取具体中对应功能的关注点所对应的代码关键函数以及关键代码的行数范围
- 对工具的调用可能有多次，依据前一轮的结果，确定是否需要继续调用工具

对收集的信息整合后，去粗取精，只取和核心目标有关的部分放入到 feature_analysis 字段下
完成核心目标的操作建议则放入 execution_plan_suggestion 字段
最终结果按照指定的 json 结构返回
